<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2018-2020</p>
                        <div class="h5">Bachelor Degree</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">Bachelor of Science(Computer Science)</div>
                                <h4 class="category">Vikram University, Ujjain, Madhya Pradesh India</h4>
                                <ul>
                                    <!-- <li> R.V College Of Engineering(Affilated to VTU) <b>ranks 1st</b> in Karnataka </li> -->
                                        <li>Completed B.Sc. in Computer Science with <b>67 %</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2016-2017</p>
                        <div class="h5">Higher Secondary School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h5">Higher Secondary School</div>
                                <h4 class="category">S. S. V M. Soyat kalan Dist: Agar malwa(MP)</h4>
                                <ul>
                                    <li>Completed with <b>74%</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>2015-2016</p>
                        <div class="h5">High School</div>
                        </div>    
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <div class="h4">High School</div>
                                <h4 class="category">Goverment High School</h4>
                                <ul>
                                        <li>Completed with <b>73.3%</b>.</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>                                               