<div class="section" id="projects">
    <div class="container">
        <div class="h4 text-center mb-4 title">Projects</div>
        <div class="card" data-aos="fade-up" data-aos-offset="10">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">ICS App</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Technology Used:</strong>
                            </div>
                            <div class="col-sm-8">React Native</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Link:</strong>
                            </div>
                            <div class="col-sm-8"><a href="https://play.google.com/store/apps/details?id=com.icsapp">Click</a></div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Description:</strong>
                            </div>
                            <div class="col-sm-8">
                                <p>The irrigator portal is an online tool developed by Intelligent Canal Systems to connect water users with system operators. Using the irrigator portal mobile and Web Apps water users can
                                    - lodge water orders.
                                    - track live and historical water usage. - trade water allocation.</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Roles & Responsibilities :</strong>
                            </div>
                            <div class="col-sm-8">
                                <p>Ensure the best possible performance, quality and responsiveness of applications, Provide technical 
                                    and functional expertise across multiple facets of Application Development.</p>
                            </div>
                        </div>
                     </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">BP Bytes App</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Technology Used:</strong>
                            </div>
                            <div class="col-sm-8">React Native</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Link:</strong>
                            </div>
                            <div class="col-sm-8"><a href="https://play.google.com/store/apps/details?id=com.bpbytes.app&hl=en_IN&gl=US">Click</a></div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Description:</strong>
                            </div>
                            <div class="col-sm-8">
                                <p>This Application is primarily used for:
                                    *Event Reporting - including incidents, accidents, complaints, injuries, near misses, environmental and property damage/loss
                                    *Audits & Inspections – including safety and risk inspections designed in the web application</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Roles & Responsibilities :</strong>
                            </div>
                            <div class="col-sm-8">
                                <p>Ensure the best possible performance, quality and responsiveness of applications, Provide technical 
                                    and functional expertise across multiple facets of Application Development.</p>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <div class="card-body">
                        <div class="h4 mt-0 title">WXS ONE App</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Technology Used:</strong>
                            </div>
                            <div class="col-sm-8">Ionic/Angular</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Link:</strong>
                            </div>
                            <div class="col-sm-8"><a href="https://play.google.com/store/apps/details?id=com.wnetwork.app">Click</a></div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Description:</strong>
                            </div>
                            <div class="col-sm-8">
                                <p>WXS ONE is a Membership application for WellnessXperts and its affiliated Lifestyle Hubs.
                                    Users can keep track of their health record and photos.
                                    Keep track of your wellness progress in a simple application!</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Roles & Responsibilities :</strong>
                            </div>
                            <div class="col-sm-8">
                                <p>Ensure the best possible performance, quality and responsiveness of applications, Provide technical 
                                    and functional expertise across multiple facets of Application Development.</p>
                            </div>
                        </div>
                     </div>
                </div>    
                <div class="col-lg-6 col-md-12">       
                    <div class="card-body">
                        <div class="h4 mt-0 title">My Association Membership</div>
                        <div class="row">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Technology Used:</strong>
                            </div>
                            <div class="col-sm-8">Ionic/Angular</div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Link:</strong>
                            </div>
                            <div class="col-sm-8"><a href="https://play.google.com/store/apps/details?id=com.yourcitysampler.myassociationmembership">Click</a></div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Description:</strong>
                            </div>
                            <div class="col-sm-8">
                                <p>Start saving on everyday purchases with offers of up to 50% off or more:
                                    Dining & Food
                                    Retail Services
                                    Specialty Retail Shops
                                    Entertainment</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4">
                                <strong class="text-uppercase">Roles & Responsibilities :</strong>
                            </div>
                            <div class="col-sm-8">
                                <p>Ensure the best possible performance, quality and responsiveness of applications, Provide technical 
                                    and functional expertise across multiple facets of Application Development.</p>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

